.main-navigation {
	clear: both;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: auto;

	ul#top-menu {
		clear: both;
		list-style: none;
		margin: 0;
		padding-left: 0;

		a,
		a:focus,
		a:active,
		a:visited,
		a:hover {
			display: block;
			text-decoration: none;
		    padding: 0 10px;
		    color: #fff;
		}

		li {
			float: left;
			position: relative;
		    height: 56px;
		    line-height: 56px;
		    font-size: 15px;
		    text-transform: uppercase;
		    padding: 0 0 0 5px;

		    &:before {
		    	display: none;
		    }

			&:hover > a,
			&.focus > a {
				box-shadow: 0px 4px 0px 0px $color__primary;
			}
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 56px;
			left: -999em;
			z-index: 99999;
			width: 265px;
			background: #fff;
			margin-left: 0;
			padding-left: 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				float: none;
			    display: block;
			    padding: 0;
			    height: auto;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				a,
				a:focus,
				a:active,
				a:visited,
				a:hover {
					width: auto;
					color: $color__primary;
					text-align: center;
					text-align: left;
				}

				&.current_page_item > a,
				&.current-menu-item > a,
				&.current_page_ancestor > a,
				&.current-menu-ancestor > a {
					color: #fff;
				}
			}
			
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $color__primary;
		color: #fff;
		border-bottom: 4px solid $color__primary;

		&:hover {
			box-shadow: 0px 4px 0px 0px #fff;
		}
	}
}
/* MENU TOGGLE */
.menu-toggle {
	display: none;
	padding: 5px 10px;
	color: #fff;
    background: $color__secondary;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
    position: absolute;
    right: 15px;
    top: 0;
    border: none;
    box-shadow: 1px 1px 10px 0px #333;

    i {
    	font-size: 35px;
    }
    span {
    	font-size: 14px;
    	font-weight: 100;
    }
}
.main-navigation ul {
	display: block;
}
#site-navigation.show {
	float: none;
}
/* HEADER TOP */
.phone-mobile {
	display: none;
	position: absolute;
    top: 11px;
    right: 95px;
    background: #fff;
    padding: 18px;
    border-radius: 6px;
}
    
ul.header-top {
	margin: 0 20px 10px 0;

	li {
		list-style-type: none;
		display: inline-block;
		padding: 0 10px;

		&:before {
			display: none;
		}
		&:first-child {
			padding: 0;
		}

		a {
			color: #fff;
		}
		#search-btn,
		.fb-icon,
		.login {
			&.active,
			&:hover {
				cursor: pointer;
				color: $color__primary;
			}
		}
		&.login,
		&.phone,
		&.blog {
			a {
			    padding: 2px 15px;
			    border-radius: 15px;
			    color: #fff;
			    border: 2px solid rgba(255, 255, 255, 0.3);

			    i {
				    color: #fff;
				    text-align: center;
				    margin-right: 3px;
				}
				&:hover, 
				&:active {
					background: $color__primary;
					color: #fff;
					text-decoration: none;

					i {
						color: #fff;
					}
				}
			}
		}
		&.blog {
			a {
				background: #fff;
				color: #000;

				i {
					color: #000;
				}
			}
		}
		&.login.registration {
			padding-left: 0;
		}
		&.phone {
			a {
				background: $color__primary;
			}
		}
	}
}
/* SEARCH */
#search {
	display: none;
	width: 100%;
	height: auto;
	padding: 10px 0;
	background: $color__primary;
	color: #fff;
	text-align: center;
	margin-top: 15px;
    position: absolute;
    left: 0;
    top: 100px;

	.form-group {
		width: 50%;
	}
	input[type="search"] {
		width: 50%;
		height: 35px;
	}
	.btn-search {
		background: rgba(0,0,0,0.9);
		color: #fff;
		margin: 0;
	}
}
input.search {
	height: 30px;
	position: relative;
	top: 8px;
}


/*-----------------------------------------------------------------
	
========   RESPONSIVE STYLES   ===================================

------------------------------------------------------------------*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 

}

/* 
Large devices (large desktops, 1500px and up) 
----
pokud budeme menit max-width pro navigaci, nutno take zmenit max-width pro header#masthead.show-nav, 
kde je nastaveno overflow-y: scroll.
*/
@media (max-width: 1500px) { 
	/* button "menu" */
	.menu-toggle {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	/* socialni site */
	ul.header-top {
	    margin: 0 80px 0 0;

	    .fa-facebook-official:before,
	    .fa-search:before  {
	    	font-size: 32px;
		    top: 5px;
		    position: relative;
	    }
	}
	/* navigation */
	#site-navigation {
		display: none;
		width: 100%;
	    position: absolute;
	    z-index: 100000;
	    left: 0;
	    top: 10px;
	    padding: 20px;
	}
	.main-navigation {
	    margin-top: 70px;
	    background: #000;

		ul#top-menu {
			display: block;
			width: 100%;
			clear: both;

			li {
				float: none;
				display: block;
				width: 100%;
				height: auto;
				padding: 0;

				&.current-menu-item.menu-item-has-children,
				&.current-menu-parent {
					background: rgba($color__primary,0.7);
				}
				a {
					text-align: left;
				}
			}
			ul {
				display: block;
				position: relative;
				left: 0;
				top: 0;
				width: 100%;
				background: transparent;
				text-align: left;
				padding-left: 30px;
				padding-top: 5px;
				margin: 0;

				li {
					a,
					a:focus,
					a:active,
					a:visited,
					a:hover {
						text-align: left;
						color: #fff;
						line-height: 26px;
    					padding: 10px 20px;
					}
				}
			}
		}
		ul.header-top {
			display: block;
			margin: 0 0 20px 0;
			padding: 0;

			li {
				display: inline-block;
				float: left;
				width: auto;

				&.login a {
				    height: 39px;
				    line-height: 39px;
				    display: block;
				    padding: 0 20px;
				    margin: 0 10px;
				}

				#search-btn {
					display: none;
				}
				&.blog, 
				&.phone {
					margin-top: 7px;
				}
			}
		}
		
	}
	.phone-mobile {
		display: block;
	}
	#site-navigation.show #search {
		display: block!important;
	}
	#search {
		clear: both;
		display: block;
		background: transparent;
		position: relative;
		top: 0;

		.form-group {
		    width: 100%;
		    background: rgba(250,250,250,0.2);
		    padding: 20px 0;

		    label {
		    	display: none;
		    }
		    input[type=search] {
			    width: 90%;
			}
			.btn-search {
			    clear: both;
			    float: none;
			    display: block;
			    margin: 10px auto 0 auto;
			}
		}
	}
 }