/* BUTTONS */
.btn,
.btn:hover,
.btn:focus,
.btn:visited,
.btn:active,
input[type="submit"] {
	padding: 15px 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
}
.btn.btn-primary {
	background: #e00717;
	border-color: #8e0c0e;
}
.btn.btn-default {
	background: #E34B50;
}
.btn.btn-light {
	background: #fff;
	color: #e00717;
}

.btn {
	transition: all 2s;
	opacity: 0.9;
}
.btn:hover,
.btn:focus,
.btn:visited,
.btn:active {
	opacity: 1;
}

span.btn {
	margin: 0;
	display: inline-block;
}
span.btn a {
	display: block;
	color: #fff;
	padding: 10px 20px;
}
span.btn a:after {
	content: "\f054";
	font-family: "FontAwesome";
	position: relative;
	right: -15px;
	top: 2px;
}
span.btn a:after:hover {
	text-decoration: none;
}
span.btn a:after.btn-light a {
	color: #e00717;
}

/* COLUMNS 50% */
.col-md-6, 
.col-sm-6 {
	float: left;
	width: 50%;
}
.clearfix {
	clear: both;
	height: 1px;
	display: block;
}
