$color__primary: #3c9ea2; /* petrolejova */
$color__secondary: #BD4A95; /* fialovo-ruzova */
$color__default: #eee; /* super sv. šedá */
$color__light: #ddd; /* sv.seda */
$color__highlight: #BD4A95; /* fialovo-ruzova */
$color__dark: #00587b; /* super tm. modra */

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgba($color__primary,0.9);
$color__link-visited: rgba($color__primary,1);
$color__link-hover: rgba($color__primary,1);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
