.archive {

	.program-wrap {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding: 1rem;

		.program-item {
			display: flex;
			flex-direction: column;
			width: calc(33.33% - 2rem);
			margin: .2rem 1rem;

			h4 {
				font-size: 16px;
				margin: 0;

				a {
					font-weight: 900;
				}
			}

			.organizer {
				font-size: 13px;
				color: #666;
				margin-bottom: 10px;
			}

			.perex {
				display: inline-block;
				font-size: 14px;
				font-style: normal;
				min-width: 60%;
				padding-bottom: 1rem;

				p {
					margin-bottom: 10px;
				}
			}

			.url {
				font-size: 13px;
				font-style: italic;
				font-weight: 500;
			}

			&:last-child {
				border: 0;
			}
		}
	}
}