/* SERVICES  - vypis vsech sluzeb 
	-- ORDER
*/
.post-type-archive-services {
	#order {
		padding-bottom: 0;
		.box-bg {
			background: $color__light;
		}
	}
	.list-items .header img {
	    height: 200px;
	}
}
/* SERVICES > INTEREST */
.single-services {
	#interest {
		.btn {
			padding: 5px;
			margin-top: 10px;
			display: block;

			a,
			a:hover {
				color: $color__primary;
				padding: 15px 30px;
			}
		}
		p:last-child {
			margin-top: 20px;
		}
		.item {
			text-transform: none;
		}
		.item p,
		.item p strong {
			font-size: 20px;
		}
		.columns .item-2 .item {
			text-align: center;

			p:first-child {
				margin-bottom: 0;
			}
		}
	}
}

/* Small devices */
@media (max-width: 768px) { 
	.single-services {
		#interest {
	    	.item {
	    		p:first-child,
	    		i {
		    		display: none;
		    	}
		    	p {
		    		margin: 0;

		    		strong {
		    			text-transform: initial;
		    			font-size: 18px;
		    		}
		    	}
	    	}
	    }
	}
}