.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    /* Vynulovat floatovani u obrazku */
    img.alignleft,
    img.alignright {
        float: none;
        clear: both;
        @include center-block;
    }

}