.badge {
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    padding: .8rem 1.5rem;

   &-secondary {
   		background: $color__secondary;
   		box-shadow: 1px 2px 15px -3px #666;
   		color: #fff;
   		font-weight: 900;
   }

   p {
   		margin: 0;
   }
}