button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	background-color: $color__primary;
	display: inline-block;
	width: auto;
	margin-top: 20px;
	opacity: 0.85;

	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	}
}

.btn,
.btn:hover,
.btn:focus,
.btn:visited,
.btn:active,
input[type="submit"],
a:not([href]):not([tabindex]), 
a:not([href]):not([tabindex]):focus, 
a:not([href]):not([tabindex]):hover {
	padding: 10px 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;

	&.btn-primary {
		background: $color__highlight;
		border-color: #fff;
		color: #fff;
	}
	&.btn-default {
		background: $color__primary;
	}
	&.btn-light {
		background: #fff;
		color: $color__primary;
		border-color: $color__primary;

		&:hover {
			background: $color__primary;
			color: #fff;
		}
	}
}

.btn {
	transition: all 2s;
	opacity: 0.85;

	&:hover,
	&:focus,
	&:visited,
	&:active {
		opacity: 1;
	}
}

span.btn,
span.btn:hover,
span.btn:active {
	margin: 0;
	padding: 0;
	transition: none;

	a,
	a:hover,
	a:active {
		display: block;
		color: #fff;
		padding: 20px 30px;
		opacity: 0.85;

		&:after {
			content: "\f054";
			font-family: "FontAwesome";
			position: relative;
			right: -15px;
			top: 2px;
		}
		&:hover,
		&:active {
			text-decoration: none;
			opacity: 1;
		}
	}
	a {
		transition: all 2s;
	}
	&.btn-light {
		a {
			color: $color__primary;
		}
	}
}