@import "../components/navigation-top";

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* SUBNAV */
.subnav {
	li {
		list-style: none;

		a,
		a:hover {
			display: block;
			padding: 20px;
			background: $color__primary;
			color: #fff;
			opacity: 0.9;
			transition: all 0.2s;
			text-decoration: none;

			&:before {
				content: "\f277";
				font-family: "FontAwesome";
				left: 20px;
				padding-right: 20px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}

/* POST NAV */
.site-main .post-navigation {
    background: #eee;
    margin-top: 40px;
    padding: 20px;
}

/* PAGINATION NUMBERS */
.pagination-nav {
	padding: 0;

    .navigation,
    .page-numbers {
        text-align: center;
        padding-top: 2em;
        margin: 0;
        padding-left: 0;

        li {
            display: inline;
            list-style-type: none;
            padding: 0;

            &:before {
            	display: none;
            }
        }

        li a,
        li a:hover,
        li.active a,
        li.disabled,
        li span.page-numbers.current,
        li a.page-numbers:not(.current) {
            color: #fff;
            text-decoration:none;
            background-color: #000;
            border-radius: 3px;
            cursor: pointer;
            padding: 15px 30px;
            display: inline-block;
            opacity: 1;
            transition: all .8s;
        }
        li a:hover,
        li.active a, 
        li span.page-numbers.current,
        li a.page-numbers:not(.current):hover {
           background: $color__primary;
        }
    }
}

.woocommerce-pagination ul.page-numbers {
    padding-top: 15px;
    margin-bottom: 20px;
}